<div class="container top30">
<div class="row">
  <div class="col-md-3">
    <label for="termino">Buscar Artista</label>
    <input type="text" name="" value="Buscar artista" class="form-control" [(ngModel)]="termino" (keyup)="buscarArtista()" />

  </div>
  <div class="col-md-9">
    <h1 class="text-capitalize">{{ termino }}</h1>
    <hr>
    <!--  -->
    <div class="row">
      <div *ngFor="let artista of _spotify.artistas" class="col-md-3 text-center puntero" [routerLink]="['/artist', artista.id]">
        <img class="img-thumbnail" [src] = "artista.images | sinfoto" alt="">
        <p> {{ artista.name }} </p>
      </div>
    </div>
  </div>
</div>
</div>
